/*DropDown*/
.styles_selected__G1NE3 {
  background-color: skyblue;
}

/*Badge */
.styles_badgeAboveChildren__zUTJ0 {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: white;
  border: solid 1px white;
  padding: 0.1rem 0.4rem;
  transform: translate(50%, -50%);
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.styles_badge__xbdGE {
  position: relative;
  top: -1px;
  border-radius: 50%;
  display: inline-block;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*Input */

.styles_defaultInput__nenXm {
  font: inherit;
  letter-spacing: inherit;
  color: black;
  background: white;
  border: 0px;
  outline: none;
  display: block;
  box-sizing: content-box;
  min-width: 0px;
  height: 30px;
  margin: 0px;
  box-shadow:
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.styles_innerLabel__1Oc3o {
  position: absolute;
  transform: translateY(-50%);
}

.styles_defaultLabel__jfDHF {
  width: 100%;
  color: #999999;
  cursor: default;
  font-size: 1rem;
  padding: 10px;
}

.styles_expandInput__d0pZ5 {
  height: 40px;
}

/*button*/
:root {
  --button-color: #ffffff;
  --button-bg-color: #212529;
  --button-hover-bg-color: #000000;
  --button-outline-color: #212529;
}

.styles_btn__249Fp {
  background: #212529;
  background: var(--button-bg-color);
  color: #ffffff;
  color: var(--button-color);

  font-family: 'Noto Sans Kr', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 4px;
  cursor: pointer;

  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transition: 0.25s;

  margin: 0;
  padding: 0.5rem 1rem;
}

.styles_btn__249Fp:focus,
.styles_btn__249Fp:active {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: not-allowed;
}

.styles_btn__249Fp:hover {
  background: #000000;
  background: var(--button-hover-bg-color);
  outline: 0;
}

/*https://stackoverflow.com/questions/14750078/style-disabled-button-with-css*/
.styles_btn__249Fp :disabled,
.styles_btn__249Fp[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none; /* 클릭 이벤트를 비활성화 */
  cursor: not-allowed; /* 커서를 not-allowed로 변경 */
}

.styles_primary__YtPEi {
  --button-bg-color: #0d6efd;
  --button-hover-bg-color: #3d8bfd;
}
.styles_success__PcG1K {
  --button-bg-color: #28a745;
  --button-hover-bg-color: #53b96a;
}

.styles_danger__GSoGL {
  --button-bg-color: #dc3545;
  --button-hover-bg-color: #e35d6a;
}

.styles_warning__QNJrJ {
  --button-bg-color: #ff9900;
  --button-hover-bg-color: #ff8700;
}

.styles_outline__eCtQg {
  outline: 1px solid #212529;
  outline: 1px solid var(--button-outline-color);
  background: #ffffff;
  color: #212529;
  color: var(--button-bg-color);
  --button-hover-bg-color: #eeeeee;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}
.styles_outline__eCtQg:active {
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.styles_outline__eCtQg.styles_primary__YtPEi {
  --button-color: #0d6efd;
  --button-outline-color: #0d6efd;
}

.styles_outline__eCtQg.styles_success__PcG1K {
  --button-color: #28a745;
  --button-outline-color: #28a745;
}
.styles_outline__eCtQg.styles_danger__GSoGL {
  --button-color: #dc3545;
  --button-outline-color: #dc3545;
}

.styles_outline__eCtQg.styles_warning__QNJrJ {
  --button-color: #ff9900;
  --button-outline-color: #ff9900;
}

.styles_icon-container__W3WbO {
  display: flex;
  align-items: center;
}
.styles_child-space__BlMfr {
  padding-left: 10px;
}
/*avatar*/
.styles_avatar__Vftca {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/*search*/
.styles_search__2ZphF {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  padding: 10px;
}

.styles_searchButton__hidCY {
  border-radius: 50px;
  position: absolute;
  right: 10px;
  outline: none;
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.styles_searchInput__j\+HYR {
  border-radius: 30px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.styles_searchButton__hidCY:focus {
  position: absolute;
}

@media (max-width: 567px) {
  .styles_search__2ZphF {
    flex-direction: column;
  }
  .styles_searchButton__hidCY,
  .styles_searchInput__j\+HYR {
    position: static;
    width: 100%;
    border-radius: 0;
  }
}

.styles_timerItem__KCvSb {
}

.styles_timerValue__lvDhX {
  color: darkgrey;
}
.styles_timerLabel__1k2tC {
  color: darkgrey;
}

.styles_timerItem__KCvSb:nth-child(odd) {
  flex-grow: 2;
  border-radius: 10px;
  padding: 5px;
  margin-left: 3px;
  margin-right: 3px;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.styles_timerItem__KCvSb:nth-child(even) {
  flex-grow: 1;
  padding-top: 5px;
}


/*# sourceMappingURL=stories-atoms-Badge-stories.ad814562.chunk.css.map*/